@import './index';


.app {
  text-align: center;
  min-height: 100vh;
}


.app-logo {
  height: 40vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: $reduced-motion) {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: $main-background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.app-link {
  color: $link-color;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}